.Sidebar-logo {
    width: 100%;
}

.Sidebar-links {
    list-style-type: none;
    list-style-position: outside;
    width: 100%;
}

.Sidebar-link {
    text-align: left;
}

.Sidebar-link > * {
    display: inline-block;
}

.Sidebar-link-icon {
    width: 32px;
}

.Sidebar-link-url {
    color: #1D2436;
    font-size: 18px;
}

.Sidebar-link-label {
    line-height: .75;
    vertical-align: top;
    margin-left: 1rem;
}
