.App-footer {
    position: relative;
    text-align: left;
    margin: 10rem 0 5.625rem 0;
    height: 6rem;
}
.App-footer::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    border-top: 2px solid var(--primary-color);
}
.Footer-copyright {
    color: var(--primary-color);
    font-size: 2rem;
    position: absolute;
    bottom: 0;
}