body {
  margin: 0;
  padding: 0;
  font-family: 'Kalam', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1D2436;
  --primary-color: #1D2436;
}

* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  text-align: left;
  font-weight: normal;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 18px;
}

p {
  font-size: 32px;
}

section {
  margin-top: 3rem;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
